---
import { translations } from "@i18n/translations";
import { type Language } from "@i18n/i18n";
import ProjectGrid from "@components/ProjectGrid.astro";
import ProjectTagList from "@components/ProjectTagList.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { PROJECT_BY_LANG } from "@content/projects";

interface Params {
  params: {
    lang: Language;
    tag: string;
  };
}

export function getStaticPaths(): Params[] {
  return Object.entries(PROJECT_BY_LANG).flatMap(([lang, projects]) =>
    projects.tags.map((tag) => ({ params: { lang: lang as Language, tag } }))
  );
}

const { lang, tag } = Astro.params;

const projects = PROJECT_BY_LANG[lang].projects.filter((project) => {
  return project.data.tags.includes(tag);
});
---

<PageLayout
  title={translations[lang].projects}
  description={translations[lang].descriptions.ProjectPage}
>
  <h1>{translations[lang].projects}</h1>
  <p>{translations[lang].projectsDescription}</p>
  <ProjectTagList />
  <p class="filter-hint">
    {
      translations[lang].projectsFilterHintTag(
        tag,
        PROJECT_BY_LANG[lang].projectCountByTags.get(tag) ?? 0
      )
    }
  </p>
  <ProjectGrid projects={projects} />
</PageLayout>

<style>
  .filter-hint {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    font-size: 16px;
  }
</style>
