---
import HeaderLink from "./HeaderLink.astro";

import ThemeToggle from "./ThemeToggle.astro";
import LanguageToggle from "./LanguageToggle.astro";

import type { Language } from "@i18n/i18n";
import { translations } from "@i18n/translations";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;
---

<header>
  <div class="container">
    <nav aria-label="Main menu">
      <div class="home">
        <a href={lang == "en" ? "/" : `/${lang}`} data-astro-prefetch="load"
          ><span class="english-name">Lesley Lai</span> <span lang="zh">赖思理</span></a
        >
      </div>
      <ul>
        <li><HeaderLink href="#">{translations[lang].blog}</HeaderLink></li>
        <li><HeaderLink href="#">{translations[lang].portfolio}</HeaderLink></li>
        <li><HeaderLink href="#">{translations[lang].notes}</HeaderLink></li>
        <li><HeaderLink href="#">{translations[lang].talks}</HeaderLink></li>
        <li>
          <HeaderLink href=`/${lang}/about`>{translations[lang].about}</HeaderLink>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <ThemeToggle />
      <LanguageToggle lang={lang} />
    </div>
  </div>
</header>

<style>
  header {
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--divider-color);
  }

  .container {
    max-width: var(--header-width);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .home {
    font-size: 1.6em;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-right: 1.5rem;
  }

  .home > a {
    color: var(--text-color);
  }

  .home .english-name {
    font-weight: bold;
  }

  ul {
    display: flex;
    margin: auto;
  }

  .header-right {
    display: flex;
  }

  .header-right > div {
    margin: auto 5px;
  }
</style>
