---
import HeaderLink from "./HeaderLink.astro";

import ThemeToggle from "./ThemeToggle.astro";
import LanguageToggle from "./LanguageToggle.astro";

import { getCurrentLanguage } from "@i18n/i18n";
import { translations } from "@i18n/translations";

const lang = getCurrentLanguage(Astro);

import "@styles/container.css";
import "@styles/utilities.css";
---

<header class="border-bottom-solid">
  <div class="container">
    <nav aria-label="main menu">
      <div class="home">
        <a href={lang == "en" ? "/" : `/${lang}`} data-astro-prefetch="load">
          <span class="english-name">Lesley Lai</span>
          <span lang="zh">赖思理</span>
        </a>
      </div>
      <ul>
        <li><HeaderLink href=`/${lang}/blog`>{translations[lang].blog}</HeaderLink></li>
        <li><HeaderLink href="#">{translations[lang].portfolio}</HeaderLink></li>
        <li>
          <HeaderLink href="https://notes.lesleylai.info/">{translations[lang].notes}</HeaderLink>
        </li>
        <li><HeaderLink href="#">{translations[lang].talks}</HeaderLink></li>
        <li>
          <HeaderLink href=`/${lang}/about`>{translations[lang].about}</HeaderLink>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <ThemeToggle />
      <LanguageToggle />
    </div>
  </div>
</header>

<style>
  header {
    background-color: var(--header-bg-color);
    padding: 4px 0;
  }

  .container {
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .home {
    font-size: 2em;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-right: 1.5rem;
  }

  .home > a {
    color: var(--text-color);
  }

  .home .english-name {
    font-weight: bold;
  }

  ul {
    display: flex;
    margin: auto;
  }

  .header-right {
    display: flex;
  }

  .header-right > div {
    margin: auto 5px;
  }
</style>
