---
import HeaderLink from "./HeaderLink.astro";

import ThemeToggle from "./ThemeToggle.astro";
import LanguageToggle from "./LanguageToggle.astro";

import { getCurrentLanguage } from "@i18n/i18n";
import { translations } from "@i18n/translations";

const lang = getCurrentLanguage(Astro);

import "@styles/container.css";
import "@styles/utilities.css";
---

<header>
  <div class="container">
    <!-- Logo -->
    <div class="home">
      <a href={lang == "en" ? "/" : `/${lang}`} data-astro-prefetch="load">
        <span class="english-name">Lesley Lai</span>
        <span lang="zh">赖思理</span>
      </a>
    </div>
    <!-- Hamburger icon -->
    <input class="menu-icon" type="checkbox" id="menu-icon" />
    <label class="hamb" for="menu-icon"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav aria-label="main menu">
      <ul>
        <li><HeaderLink href=`/${lang}/blog`>{translations[lang].blog}</HeaderLink></li>
        <li><HeaderLink href=`/${lang}/projects`>{translations[lang].projects}</HeaderLink></li>
        <li>
          <HeaderLink href="https://notes.lesleylai.info/">{translations[lang].notes}</HeaderLink>
        </li>
        <li><HeaderLink href=`/${lang}/talks`>{translations[lang].talks}</HeaderLink></li>
        <li>
          <HeaderLink href=`/${lang}/about`>{translations[lang].about}</HeaderLink>
        </li>
      </ul>
      <div class="header-right">
        <ThemeToggle />
        <LanguageToggle />
      </div>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: var(--header-bg-color);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--divider-color);
    transition: top 0.2s ease-in-out;
  }

  /* Use to hide the header when we scroll down on mobile devices */
  .header-hidden {
    top: -60px;
  }

  .container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .home {
    font-size: 2em;
    padding: 0.2rem var(--content-padding);
    white-space: nowrap;
  }

  .home > a {
    color: var(--text-color);
  }

  nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--divider-color);
  }

  :global(.dark) nav {
    box-shadow: unset;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    border-bottom: 1px solid var(--divider-color);
  }

  nav ul li {
    padding: 10px 0;
  }

  .header-right {
    display: flex;
    padding: 10px var(--content-padding);
  }

  .header-right > div {
    margin: auto 5px;
  }

  /* Menu Icon */
  .hamb {
    cursor: pointer;
    float: right;
    padding: 30px 20px;

    position: absolute;
    top: 0;
    right: 10px;
  } /* Style label tag */

  .hamb-line {
    background: var(--text-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  } /* Style span tag */

  .hamb-line::before,
  .hamb-line::after {
    background: var(--text-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamb-line::before {
    top: 7px;
  }
  .hamb-line::after {
    top: -7px;
  }

  .menu-icon {
    display: none; /* hide checkbox */
  }

  .menu-icon:checked ~ nav {
    /* CSS can't perform transition on percentiles like 100%, so we just use a value larger than the nav can be */
    max-height: 400px;
  }
  .menu-icon:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  .menu-icon:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .menu-icon:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  /* Large Desktops */
  @media only screen and (min-width: 1088px) {
    header {
      /* Header is not sticky on desktops */
      position: unset;
      border-bottom: 1px solid var(--divider-color);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .home {
      border-bottom: unset;
    }

    .container {
      flex-direction: row;
    }

    nav {
      max-height: 100%;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      box-shadow: none;
    }

    nav ul {
      flex-direction: row;
      border-bottom: unset;
    }

    .hamb {
      display: none;
    }
  }

  /* Extra Large Desktops */
  @media only screen and (min-width: 1200px) {
    .home {
      padding-left: 0;
    }

    .header-right {
      padding-right: 0;
    }
  }
</style>

<script>
  // This script hide the header when scrolling down on mobile devices
  document.addEventListener("astro:page-load", () => {
    const header = document.querySelector("header");
    if (!header) return;
    const headerHiddenClass = "header-hidden";

    const menuCheckbox = document.getElementById("menu-icon") as HTMLInputElement;

    let prevScrollpos = window.scrollY;
    window.addEventListener("scroll", () => {
      const currentScrollPos = window.scrollY;

      // if scrolling down and the mobile menu is not opened, hide header
      if (currentScrollPos > prevScrollpos && !menuCheckbox.checked) {
        header.classList.add(headerHiddenClass);
      } else {
        header.classList.remove(headerHiddenClass);
      }
      prevScrollpos = currentScrollPos;
    });
  });
</script>
