---
import PageLayout from "@layouts/PageLayout.astro";
import { translations } from "@i18n/translations";
import { type Language, languages } from "@i18n/i18n";
import { getCollection } from "astro:content";
import ProjectGrid from "@components/ProjectGrid.astro";

interface Params {
  params: {
    lang: Language;
  };
}

export function getStaticPaths(): Params[] {
  return languages.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;

const allProjects = (await getCollection("projects")).filter((project) => {
  return project.slug.endsWith(`/${lang}`);
});

// Sort projects by last modified date
const projects = allProjects.sort((a, b) => {
  const aDate = a.data.modified ?? a.data.created;
  const bDate = b.data.modified ?? b.data.created;

  return bDate.valueOf() - aDate.valueOf();
});

const featuredProjects = projects.filter((project) => project.data.featured);
const otherProjects = projects.filter((project) => !project.data.featured);
---

<PageLayout title={translations[lang].portfolio}>
  <h1>{translations[lang].portfolio}</h1>
  <h2>{translations[lang].featuredProjects}</h2>
  <ProjectGrid projects={featuredProjects} />
  <h2>{translations[lang].otherProjects}</h2>
  <ProjectGrid projects={otherProjects} />
</PageLayout>
