---
interface Props {
  title: string;
  lang: string;
  children: unknown;
}

const { title, lang } = Astro.props;

import Header from "../components/Header.astro";
import "../styles/global.css";

// TODO: temporary hack
function get_site_name(lang: string) {
  return lang == "zh" ? "赖思理的个人网站" : "Lesley Lai";
}

// Is home page if title is empty
const isHome = title == "";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Lesley Lai" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{isHome ? get_site_name(lang) : `${title} | ${get_site_name(lang)}`}</title>
  </head>
  <body>
    <Header lang={lang} />
    <div class="container">
      <slot />
    </div>
  </body>

  <style>
    .container {
      max-width: var(--max-width);
      margin: 0 auto;
    }
  </style>
</html>
